# Get your Notion integration token from https://www.notion.so/my-integrations
NOTION_TEST_AUTH_TOKEN=

# A page for tests should be a duplicate or original of this page with prerequisites:
# https://sdk-integration.notion.site/Integration-tests-2f4cd6cf14068001ac57e261d1c18fda
NOTION_TEST_PAGE_ID=2f4cd6cf14068001ac57e261d1c18fda